$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

input[type="range"] {
  height: $input-height-base;
  line-height: $line-height-base;
}

textarea.rapbot-lyrics {
  height: $line-height-computed * 5;
}
