<form class="form-horizontal">
  <div ng-repeat="rapbot in rapbots" class="form-group rapbot">
    <label class="control-label col-sm-3" for="rapbot-lyrics-{{$index}}">
      Rapbot #{{$index + 1}} lyrics:
    </label>
    <div class="col-sm-9">
      <textarea ng-model="rapbot.lyrics" placeholder="Lyrics" id="rapbot-lyrics-{{$index}}" class="rapbot-lyrics form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default" ng-click="add_rapbot()" type="button">
        <span class="glyphicon glyphicon-plus"></span>
        Add Rapbot
      </button>
    </div>
  </div>
</form>
<hr>
<div class="form-group text-center">
  <button type="button" class="btn btn-primary btn-lg" ng-click="rap()">
    <span class="glyphicon glyphicon-play"></span>
    Rap
  </button>
</div>
